body {
	margin-top: 0px;
	margin-bottom: -10px;
	font-family: 'Raleway', sans-serif;
}
p span {
	text-decoration: bold;
	font-size: 1.3em;
}
#navContainer {
	background: white;
	/*height: 200px;*/
	/*margin: 0;*/
}
.navbar {
    position: relative;
    /*background: transparent;*/
  /*  border-color: black;*/
    margin: 0px 0px 90px 0px;
}
.dropdown-menu {
	font-size: 1.1em;
	text-align: center;
	border: none;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -100px !important;/* 50% of your logo width */
    /*margin-top: -40px;  */
    display: block;
    float: none;"
    padding: 0;

}
.navbar-brand>img {
	max-width: 175px;
	margin-top: -30px; 
	background-color: black;
    padding: 15px 10px;
    border-radius: 0em 0em 1.5em 1.5em;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.navbar-nav>li>a {
	color: black;
	font-size: 30px;
	/*margin-top: 45px;*/
	margin: 30px 30px 0px 0px;
	font-family: 'Raleway', sans-serif;
	/*text-shadow: 0px 1px 1px rgba(0,0,0,0.2);*/

}
.navbar-toggle {
	background-color: rgba(145, 0, 2, .95); 
}
.icon-bar {
	background-color: white;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: rgba(145, 0, 2, .8);
	border-radius: 0.1em;
	color: white;
}
hr {
	border-top: 5px solid #910002;
	margin-top: 0;
}
a {
	text-decoration: none;
	color: black;
}
.wordLinks:hover, .wordLinks:active, .wordLinks:focus {
	text-decoration: none;
	color: white;
}
h2 {
	margin: 110px 0px -25px 10%;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 8vmax;
	color: black;
	text-shadow: 4px 4px 2px rgba(0,0,0,0.1);
}

#footer {
	background: #910002;
	min-height: 200px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#header {
	background: #910002;
	min-height: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	z-index: -1;

}
.image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  margin-bottom: 20px;

}
.thumbnail {
	border: none;
	padding: 0;
	margin: none;
	position:relative;
    overflow:hidden;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.thumbTitles {
	position: absolute;
    top: 0;
    right: 0;
    background: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#fff !important;
    padding-top: 40%;
	margin-top: 0;
	font-size: 45px;
	z-index: 3;
	font-family: 'Covered By Your Grace', cursive;
}

.thumbTitles:hover {
	background: #910002;
	text-decoration: none;
	transition-duration: 500ms;
	cursor: "pointer";
}

/*Fade in effect*/
.hideme
{
    opacity:0;
}





.btn-lg {
	margin: 5px 5px 5px 0px;
}
.facebook:hover {
	background-color: #3b5998;
	color: white;
}
.instagram:hover {
	background-color: #fb3958;
	color: white;
}
.twitter:hover {
	background-color: #00aced;
	color: white;
}
.pinterest:hover {
	background-color: #c8232c;
	color: white;
}